*{
    padding: 0;
    margin: 0;
  }
.hide {
     display: none;
}
.container {
     height: 89.5vh;
     background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.7)),
        url("../Weather-App/img/4333889.webp");
     width: 100%;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     padding: 25px 50px;
     background-position: center;
     border-bottom: solid 8px rgba(131, 128, 128, 0.5);
}
#search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.weatherContainer {
      background-color: #00000052;
      margin-left: 397px;
      height: 300px;
      width: 300px;
      align-items: center;
      color: white;
      padding-top: 20px;
      border-radius: 25px;
}

#searchCity {
      background: lightgrey;
      padding-left: 37px;
      margin-left: 15px;
      margin-bottom: 10px;
      height: 30px;
      width: 250px;
      outline: none;
      border: none;
      color: rgb(47, 45, 45);
      border-radius: 150px;
}
select {
      height: 30px;          
      background-color: rgb(53, 47, 47);
}
button {
      /*background-color: rgb(53, 47, 47);*/
      border: none;
      background: transparent;
      color:#272c36;
      height: 35px;
      border-radius: 50%;
      margin-left: 3px;
      margin-left: -242px;
}
@media (min-width: 1268px){
    .container {
        max-width: 1268px;
    }
}